.header {
  margin: 40px 0 16px;
}
.header .table_title {
  padding-left: 4px;
  font-size: 2.5rem;
}

.header .underline{
  position: relative;
  bottom: 10px;
  border-bottom: 1px solid black;
}
  
.attendance_table {
  margin: 0 auto 0 auto;
  text-align: center;
  font-size: 1.1rem;
  border-collapse: collapse;
}

.attendance_table thead th {
  padding: 12px 0px 12px;
}
  
.attendance_table .members_row th, .attendance_table .members_row td {
  padding: 15px;
  border-top: 1px solid var(--secondary-color);
}

.attendance_table_button {
  padding: 25px;
  border: none;
  border-radius: 8px;
  background: #f7f7f7;
  box-shadow:  inset -2px -2px 4px #ffffff,
               inset 2px 2px 4px #d0d0d0;
}

.member_avatar {
  position: relative;
  top: 2px;
  width: 50px;
  height: 50px;
  border-radius: 8px;
}