/* sans-serif */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap');

/* serif */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaisei+Opti&display=swap');

:root {
  --primary-color: #f7f7f7;
  --secondary-color: #d0d0d0;
  --font-familly-sans-serif: Comfortaa, 'Zen Maru Gothic', sans-serif;
  --font-familly-sans: 'Josefin Slab', 'Kaisei Opti', serif;
}

html::-webkit-scrollbar {
  display: none;
}

html {
  font-family: var(--font-familly-sans);
  font-size: 16px;
}

body {
  background: var(--primary-color);
}