/* sans-serif */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap');

/* serif */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaisei+Opti&display=swap');

* {
  --primary-color: #f5f5f5;
  --secondary-color: #dee2e6;
  --font-familly-sans-serif: Comfortaa, 'Zen Maru Gothic', sans-serif;
  --font-familly-sans: 'Josefin Slab', 'Kaisei Opti', serif;
  font-family: var(--font-familly-sans);
}

.header {
  margin: 40px 0 16px;
}
.header .table-title {
  padding-left: 4px;
  font-size: 2.5rem;
} 
.header .underline{
  position: relative;
  bottom: 10px;
  border-bottom: 1px solid black;
}
  
.attendance-table {
  margin: 0 auto 0 auto;
  text-align: center;
  font-size: 1.1rem;
  border-collapse: collapse;
}

.attendance-table thead th {
  padding: 12px 0px 12px;
}
  
.attendance-table .members-row th, .attendance-table .members-row td {
  padding: 15px;
  border-top: 1px solid var(--secondary-color);
}

.attendance-table-button {
  padding: 25px;
  border: none;
  border-radius: 8px;
  background: #f7f7f7;
  box-shadow:  inset -2px -2px 4px #ffffff,
               inset 2px 2px 4px #d0d0d0;
}

.member-avatar {
  position: relative;
  top: 2px;
  width: 50px;
  height: 50px;
  border-radius: 8px;
}