/* sans-serif */
@import url('https://fonts.googleapis.com/css2?family=Comfortaa&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Zen+Maru+Gothic&display=swap');

/* serif */
@import url('https://fonts.googleapis.com/css2?family=Josefin+Slab&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Kaisei+Opti&display=swap');

* {
  --primary-color: #f5f5f5;
  --secondary-color: #dee2e6;
  --font-familly-sans-serif: Comfortaa, 'Zen Maru Gothic', sans-serif;
  --font-familly-sans: 'Josefin Slab', 'Kaisei Opti', serif;
  font-family: var(--font-familly-sans);
}

html::-webkit-scrollbar {
  display: none;
}

body {
  background: #f7f7f7;
}